{% extends "app/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block content %}

<div class="particulas" style="height: calc(85vh - 80px); padding-top: 80px;">
  <div id="particles-js" style="z-index: -1; background-color: #001c3a; height: calc(85vh - 160px) !important;"></div>
  <div class="banner-contact">
    <div class="content-slider" style="display: flex; justify-content: flex-start; align-items: flex-start;">
      <div class="text">
        <h2>Contactanos</h2>
        <h2 style="color: #f1f1f1;">Estamos para servirte</h2>
      </div>
    </div>
  </div>
</div>


<div class="contact-container">
  <div class="contact-container-heading"
    style="background-color: #0A1B46; width: 100%; text-align: center; padding: 2%;">
    <h2>Nuestra Localización</h2>
  </div>
  <div class="contact-container-content">
    <div class="left-content">
      <div id="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d3981.5341618040757!2d-79.610321!3d-3.6928396!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x9034a777502ca1df%3A0xc7ebd6c3e9227001!2sParque%20de%20La%20Independencia%20de%20Zaruma%20894Q%2BVV7%20Zaruma!3m2!1d-3.6928395999999997!2d-79.610321!5e0!3m2!1ses!2sec!4v1666094836264!5m2!1ses!2sec"
          style="border:0; height: 40vw; width: 100%;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="right-content">
      <h3>Ubicación</h3>
      <p>Zaruma, calles avenida honorato marquez a pocos pasos de la cooperariva Jardin Azuayo.</p>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
      </ul>
    </div>
  </div>
</div>




<div class="contact-container">
  <div class="contact-container-heading"
    style="background-color: #0A1B46; width: 100%; text-align: center; padding: 2%;">
    <h2>Escribenos al correo</h2>
  </div>
  <div class="contact-container-content">
    <div class="left-content" style="background-color: #000020;">
      <form id="contact" action="" method="post">
        <fieldset style="padding: 2%;">
          <input style="border-radius: 0; font-size: 1.2rem; height: 3%;" name="name" type="text" class="form-control"
            id="name" placeholder="Full Name" required="">
        </fieldset>
        <fieldset style="padding: 2%;">
          <input style="border-radius: 0; font-size: 1.2rem; height: 3%;" name="email" type="text" class="form-control"
            id="email" placeholder="E-Mail Address" required="">
        </fieldset>
        <fieldset style="padding: 2%;">
          <input style="border-radius: 0; font-size: 1.2rem; height: 3%;" name="subject" type="text"
            class="form-control" id="subject" placeholder="Subject" required="">
        </fieldset>
        <fieldset style="padding: 2%;">
          <textarea style="border-radius: 0; font-size: 1.2rem; height: 3%;" name="message" rows="6"
            class="form-control" id="message" placeholder="Your Message" required=""></textarea>
        </fieldset>
        <fieldset style="padding: 2%;">
          <button type="submit" id="form-submit" class="filled-button">Enviar</button>
        </fieldset>
      </form>
    </div>
    <div class="right-content"
      style="background-color: #d0dce5;">
      <img src=" ../../static/img/email.png" style="max-width: 100%;">
    </div>
  </div>
</div>

<div class="contact-container">

  <div class="preguntas-frecuentes">
    <a>Preguntas Frecuentes</a>
    <ul class="accordion">
      <li>
        <a>¿Cuál es su horario de atención</a>
        <div class="content" style="height: auto;">
          <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur
            similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur,
            modi mollitia corporis ipsa voluptate corrupti elite.</p>
        </div>
      </li>
      <li>
        <a>¿Realiza soporte técnico?</a>
        <div class="content" style="height: auto;">
          <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur
            similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur,
            modi mollitia corporis ipsa voluptate corrupti elite.</p>
        </div>
      </li>
      <li>
        <a>jlflshjbchjbdf?</a>
        <div class="content" style="height: auto;">
          <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur
            similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur,
            modi mollitia corporis ipsa voluptate corrupti elite.</p>
        </div>
      </li>
      <li>
        <a>cksdguycgds?</a>
        <div class="content" style="height: auto;">
          <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur
            similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur,
            modi mollitia corporis ipsa voluptate corrupti elite.</p>
        </div>
      </li>
    </ul>
  </div>
</div>



<!-- <div class="send-message">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Escribenos al correo</h2>
        </div>
      </div>
      <div class="col-md-8" style="padding-right: 0;">
        <div class="contact-form">
          <form id="contact" action="" method="post">
            <div class="row" style="background-color: #000020; margin-left: 0; margin-right: 0; padding:2% ;">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <fieldset>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                </fieldset>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <fieldset>
                  <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address"
                    required="">
                </fieldset>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <fieldset>
                  <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message"
                    required=""></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="filled-button">Enviar</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4" style="background-color: #d0dce5;">
        <img src=" ../../static/img/email.png" style="max-width: 100%;">
      </div>

      <div class="col-md-12">
        <a>Preguntas Frecuentes</a>
        <ul class="accordion">
          <li>
            <a>¿Cuál es su horario de atención</a>
            <div class="content" style="display: block; height: auto;">
              <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur
                similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur,
                modi mollitia corporis ipsa voluptate corrupti elite.</p>
            </div>
          </li>
          <li>
            <a>¿Realiza soporte técnico?</a>
            <div class="content" style="display: block; height: auto;">
              <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur
                similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur,
                modi mollitia corporis ipsa voluptate corrupti elite.</p>
            </div>
          </li>
          <li>
            <a>jlflshjbchjbdf?</a>
            <div class="content" style="display: block; height: auto;">
              <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur
                similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur,
                modi mollitia corporis ipsa voluptate corrupti elite.</p>
            </div>
          </li>
          <li>
            <a>cksdguycgds?</a>
            <div class="content" style="display: block; height: auto;">
              <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur
                similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur,
                modi mollitia corporis ipsa voluptate corrupti elite.</p>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>  -->


{% endblock content %}