{% extends "app/base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block slider %}
  {% include "app/slider.html" %}
{% endblock slider %}
{% block content %}
    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Nuestros Productos</h2>
              <a href="{% url 'landing:catalogo' %}">Ver todo el catálogo<i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          {% for producto in productos %}
          <div class="col-md-4">
            <div class="product-item">
              {% if producto.img_producto %}
                  <a href="#"><img src="{{ producto.img_producto.url }}" width="100" height="200" alt="{{ producto.img_producto }}"
                    style="border-radius: 1em !important;"></a>
              {% else %}
                  No hay imagen
              {% endif %}
              <div class="down-content">
                <a href="#"><h4>{{producto.nombre}}</h4></a>
                <p>{{producto.descripcion}}</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>{{producto.categoria}}</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Las Mejores Ofertas</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>{{producto_oferta}}</h4>
              <p>{{producto_oferta.descripcion}}</p>
              <ul class="featured-list">
                <li><a href="#">{{producto_oferta.categoria}}</a></li>
                <li><a href="#">{{producto_oferta.marca}}</a></li>
                <li><a href="#">{{producto_oferta.caracteristicas}}</a></li>
              </ul>
              <a href="about.html" class="filled-button">Ver más</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              {% if producto_oferta.img_producto %}
                  <a href="#"><img src="{{ producto_oferta.img_producto.url }}" width="200" height="300" alt="{{ producto_oferta.img_producto }}"></a>
              {% else %}
                  No hay imagen
                  <img src="{% static 'img/feature-image.jpg' %}" alt="">
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Eficiente, Único y de Calidad <em>Tecno_city</em></h4>
                  <p>Un camino de 1000 millas comienza con un paso</p>
                </div>
                <div class="col-md-4">
                  <a href="#" class="filled-button">Tú puedes</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
