{% extends "app/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block content %}


<div class="particulas" style="height: calc(85vh - 80px); padding-top: 80px;">
  <div id="particles-js" style="z-index: -1; background-color: #001c3a; height: calc(85vh - 80px) !important;"></div>
  <div class="banner-products">
    <div class="content-slider">
      <div class="text">
        <h2>CATÁLOGO</h2>
      </div>
      <div class="footer-text">
        <h3>COMPRA SIEMPRE LO MEJOR</h3>
      </div>
    </div>
  </div>
</div>

<div class="products">
  <ul class="filters">
    <li><a href="javascript:void(0);" data-filter="*">Todos</a></li>
    {% for categoria in categorias %}
    <li><a href="javascript:void(0);" data-filter="{{categoria}}">{{ categoria }}</a></li>
    {% endfor %}
  </ul>

  <div id="container" class="isotope">
    {% for producto in productos %}
    <div class="grid-item" data-filter="{{producto.categoria}}">
      {% if producto.img_producto %}
      <a href="#"><img src="{{ producto.img_producto.url }}" width="100" height="250" alt="{{ producto.img_producto }}"
          style="border-radius: 1em !important;"></a>
      {% else %}
      No hay imagen
      {% endif %}
      <div class="down-content">
        <a href="#">
          <h4>{{producto.nombre}}</h4>
        </a>
        <p>{{producto.descripcion}}</p>
      </div>
      <div class="down-content-footer">
        <ul class="stars">
          <li><i>Stock: </i></li>
          <li>{{producto.stock}}</li>
        </ul>
        <span class="marca">{{producto.marca}}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="section-heading">
  <h2>Nuestras Marcas</h2>
</div>
<div class="marcas">
  <div class="owl-clients owl-carousel">
    {% for marca in marcas %}
    <div class="client-item">
      <a href="#"><img src="{{ marca.img_marca.url }}" width="50" height="75" alt="{{ marca.img_marca }}"></a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}