<!-- Page Content -->
<!-- Banner Starts Here -->

<div class="particulas">
  <div id="particles-js" style="z-index: -1; background-color: #4c4e55; height: 100%"></div>
  <!-- <div class="banner header-text"> -->
  <div class="owl-banner owl-carousel">
    <div class="banner-item-01">
      <div class="content">
        <div class="text">
          <h2>SERVICIOS</h2>
          <h4>VENTA DE TECNOLOGÍA</h4>
        </div>
      </div>
    </div>
    <div class="banner-item-02">
      <div class="content">
        <div class="text">
          <h2>SERVICIOS</h2>
          <h4>SOPORTE TÉCNICO</h4>
        </div>
      </div>
    </div>
    <div class="banner-item-03">
      <div class="text-content">
        <h2>SERVICIOS</h2>
        <h4>SISTEMAS DE SEGURIDAD</h4>
      </div>
    </div>
    <div class="banner-item-01">
      <div class="text-content">
        <h2>SERVICIOS</h2>
        <h4>DESARROLLO DE SOFTWARE</h4>
      </div>
    </div>
  </div>
</div>

<!-- Banner Ends Here -->
<!-- Page Content -->
<script>
  window.dispatchEvent(new Event("resize"));
</script>