<!-- Page Content -->
<!-- Banner Starts Here -->

<div class="particulas">
  <div id="particles-js" style="z-index: -1; background-color: #4c4e55; height: 100%"></div>
  <div class="banner header-text">
    <div class="owl-banner owl-carousel">
      <div class="banner-item-01">
        <div class="text-content">
          <h4>Servicios</h4>
          <h2>Venta de tecnología</h2>
        </div>
      </div>
      <div class="banner-item-02">
        <div class="text-content">
          <h4>Servicios</h4>
          <h2>Servicio Técnico</h2>
        </div>
      </div>
      <div class="banner-item-03">
        <div class="text-content">
          <h4>Servicios</h4>
          <h2>Sistemas de seguridad</h2>
        </div>
      </div>
      <div class="banner-item-01">
        <div class="text-content">
          <h4>Servicios</h4>
          <h2>Desarrollo de software</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Banner Ends Here -->
<!-- Page Content -->
<script>
  window.dispatchEvent(new Event("resize"));
  window.dispatchEvent(new Event("resize"));
</script>
